---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "KoLLOID";
const subtitle = "とけない個のための表現空間";
const explanation = `この空間には様々な個性をもった表現がふわふわと浮遊しています。
ぜひ好きな粒子を手にとって眺めてみてください。`;
---

<BaseLayout pageTitle={title} subtitle={subtitle} enableLinks={true}>
  <section>
    <h2 style="font-size: 1.4rem; margin-bottom: 0.5rem;">
      {subtitle}
    </h2>
    <p
      style="
        white-space: pre-line;
        margin-top: 1.5rem;
        font-size: 0.95rem;
        color: #333;
      "
    >
      {explanation}
    </p>
  </section>
</BaseLayout>